.inline-block {
    display: inline-block;
    vertical-align: top;
    
}

.logo {
  width: 40%;
  padding: 5%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24
    px;
}

.navigation {
    width: 100%;
    padding: 5%;
    background-color: #141414;
    color: #EAEAEA;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
ul {
  width: 65%;
  margin-left: auto;
}
.logo {
  text-align: center;
}
.heroImg {
  height: 200px;
  padding: 35px;
}
.UX Skills {
  height: 50%;
  width: 50%;
}

p {
  width: 500px;
  margin: 0 auto;
  background-color: #141414;
  color: #EAEAEA;
}
h3{
  color: #EAEAEA;

}
h4{
  color: #EAEAEA;

}
footer {
  background-color: #141414;
  padding: 25px;
}
ul {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
.footer {
    background-color:#141414;
  color: #EAEAEA;
}
.flexContainer {
   display: flex;
  flex-direction: column;

}
.flexContainerBox {
  width: 33%;

}
.grid-container {
  display: grid;
}
.grid-container {
  display: inline-grid;
}

.Project1 {
  display: grid;

}
.Project2 {
  display: grid;

}
Project3 {
  display: grid;

}
.grid-container {
  display: grid;
  grid-template-columns: 35% auto auto auto;
  grid-gap: 10
  px;
  background-color: #141414;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(177, 177, 177, 0.8);
  text-align: center;
  padding: 5px 0;
  font-size: 30px;
}